<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/task
       http://www.springframework.org/schema/task/spring-task-3.0.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:annotation-config/>

    <import resource="spring-jdbc.xml" />

    <bean id="cleaningTableIdemp" class="ru.splat.Shedule.SheduleCleaningDB">
          <property name="tableName" value="punter_idemp"/>
          <property name="timeLimit" value="180000"/>
    </bean>

    <bean id="cleaningTableTimestamps" class="ru.splat.Shedule.SheduleCleaningDB">
        <property name="tableName" value="punter_timestamps"/>
        <property name="timeLimit" value="180000"/>
    </bean>

    <bean id="punterServiceWrapper" class="ru.splat.PunterServiceWrapper"/>

    <task:scheduler id="cleanerSheduler"/>
    <task:scheduled-tasks scheduler="cleanerSheduler">
        <task:scheduled ref="cleaningTableTimestamps" method="cleanTable" fixed-rate="60000"/>
        <task:scheduled ref="cleaningTableIdemp" method="cleanTable" fixed-rate="60000"/>
        <task:scheduled ref="punterServiceWrapper" method="process" fixed-rate="1000"/>
    </task:scheduled-tasks>

    <bean id="boot" class="ru.splat.Boot"/>

</beans>